# Arduino build output
build/
*.elf
*.hex
*.bin
*.map

# Arduino IDE
.arduino15/
*.bak

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/
